*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appWrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background-color: #756666;
    padding: 20px;

    grid-template-areas:
"h h"
"n c";
    grid-template-rows:60px 1fr;
    grid-template-columns:2fr 10fr;
    grid-gap: 10px;
    /*height: 100px;*/
}





.content {
    grid-area: c;
    border: black solid 1px;
    padding: 20px;
}
